body{
    /* background-color: black; */
    background-image: url('https://images.pexels.com/videos/7741779/adult-affection-afro-black-couple-7741779.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
}