<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9f2d14ff15.js"
      crossorigin="anonymous"
    ></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="landingPage.css">
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>
    
        <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-center">
            <div class="container">
                <h1 id="title-app">Mesh.</h1>
            <ul class="navbar-nav nav-justified w-100 text-center">
              <li class="nav-item">
                <a href="./landingPage.html" class="nav-link d-flex flex-column">
                  <i class="fa-solid fa-house"></i>
                  <span class="d-none d-sm-inline">Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./messages.html" class="nav-link d-flex flex-column">
                    <i class="fa-regular fa-message"></i>
                  <span class="d-none d-sm-inline">Messages</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./search.html" class="nav-link d-flex flex-column">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <span class="d-none d-sm-inline">Search</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                    <i class="fa-regular fa-heart"></i>
                  <span class="d-none d-sm-inline">Likes</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./mePage.html" class="nav-link d-flex flex-column">
                    <i class="fa-solid fa-user"></i>
                  <span class="d-none d-sm-inline">Me</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        
          <div class="top-section">
            <h1>Our Picks</h1>
            <button type="button" class="reaction-btn"> <i class="fa-solid fa-heart"></i>Like </button>
            <button type="button" class="reaction-btn"> <i class="fa-solid fa-x"></i>Pass</button>
          </div>
          <div class="body-container">


<div class="wrapper-header">
  <div class="body-container">
  <!-- <div class="container profile-card">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
          </div>
          <div class="team-content">
            <h3 class="name">Michele Miller</h3>
            <h4 class="title">Web Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
         
        
          
    </div>
  </div> -->
  <div class="prof-container">
          <div class="wrapper ">
            <div class="product-img">
              <img src="https://cdn-www.thefashionspot.com/assets/uploads/gallery/celebrity-selfies-2017/solange-celebrity-selfies-2017.jpg" height="420" width="327">
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1 id="name"></h1>
                <h2 id="age"></h2>
                <h2 id="city-state"></h2>
                <!-- <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p> -->
              </div>
              <div class="product-price-btn">
                <!-- <p><span>78</span>$</p> -->
                <button type="button">Connect</button>
              </div>

            </div>
          </div>
         

        

          <div class="bio">
            <h1>BIO</h1>
            <p id="user-bio">"Solange Knowles is the younger sister of R&B performer Beyoncé. Coming out of her sister's shadow, Solange made a name for herself in both the music and fashion industries as a singer, dancer and a model. In 2013, she launched her own record label, Saint Records. Her 2016 album, A Seat at the Table, reached the top of the Billboard chart and led to her first Grammy win the following year."</p>
            
          </div>
          <div class="bio">
            <h1>MORE DETAILS</h1>
            <!-- <p>"Solange Knowles is the younger sister of R&B performer Beyoncé. Coming out of her sister's shadow, Solange made a name for herself in both the music and fashion industries as a singer, dancer and a model. In 2013, she launched her own record label, Saint Records. Her 2016 album, A Seat at the Table, reached the top of the Billboard chart and led to her first Grammy win the following year."</p> -->
            <p id="looking-for"><i class="fa-regular fa-heart"></i> Casual Relationship</p>
            <p id="ethnicity"><i class="fa-solid fa-person"></i> Black/African descent</p>
            <p id="smoke">  <i class="fa-solid fa-smoking"></i>Non-smoker</p>
          </div>
          <button class="block-btn">Block User</button>
        </div>

   </div>     
      </div>
    </div>







        
        
    <script src="landingPage.js"></script>
  </body>
</html>
