<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9f2d14ff15.js"
      crossorigin="anonymous"
    ></script>
    <script src="front-end.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="landingPage.css">
    <title>Document</title>
  </head>
  <body>
        <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-center">
            <div class="container">
                <h1 id="title-app">Sneaky Link</h1>
            <ul class="navbar-nav nav-justified w-100 text-center">
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                  <i class="fa-solid fa-house"></i>
                  <span class="d-none d-sm-inline">Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                    <i class="fa-regular fa-message"></i>
                  <span class="d-none d-sm-inline">Messages</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <span class="d-none d-sm-inline">Search</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                    <i class="fa-regular fa-heart"></i>
                  <span class="d-none d-sm-inline">Likes</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                    <i class="fa-solid fa-user"></i>
                  <span class="d-none d-sm-inline">Me</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        
        <div class="container mx-auto mt-4">

            <div class="row">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThnW4V0MXSboYB-KiVoKFSn4YpmwxeLBgPSPI33o6oC9myojv2Z9A71plCtre6Nm7yz30&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taylor</h5>
                 <a href="#" id="like1" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
              <a href="#" class="btn-p "></i>Pass</a>
            </div>
            </div>
              </div>    
                 
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://cdn-www.thefashionspot.com/assets/uploads/gallery/celebrity-selfies-2017/solange-celebrity-selfies-2017.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solange</h5>
                 <a href="#" id="like2" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
              <a href="#" class="btn-p "></i>Pass</a>
            </div>
            </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://hips.hearstapps.com/ell.h-cdn.co/assets/17/26/capture-decran-2017-06-27-a-35615-pm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kimberly</h5>
                 <a href="#" id="like3" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
              <a href="#" class="btn-p "></i>Pass</a>
            </div>
            </div>
              </div>        
            </div>
          </div>
          
  </body>
</html>
