<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./messages.css">
    <script src="https://kit.fontawesome.com/66c973f71a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Messages</title>

    
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-center">
        <div class="container">
            <h1 id="title-app">Sneaky Link</h1>
        <ul class="navbar-nav nav-justified w-100 text-center">
          <li class="nav-item">
            <a href="./landingPage.html" class="nav-link d-flex flex-column">
              <i class="fa-solid fa-house"></i>
              <span class="d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="./messages.html" class="nav-link d-flex flex-column">
                <i class="fa-regular fa-message"></i>
              <span class="d-none d-sm-inline">Messages</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="./search.html" class="nav-link d-flex flex-column">
                <i class="fa-solid fa-magnifying-glass"></i>
              <span class="d-none d-sm-inline">Search</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link d-flex flex-column">
                <i class="fa-regular fa-heart"></i>
              <span class="d-none d-sm-inline">Likes</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="./mePage.html" class="nav-link d-flex flex-column">
                <i class="fa-solid fa-user"></i>
              <span class="d-none d-sm-inline">Me</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="inbox"> <i class="fa-light fa-messages"></i> Your Inbox </div>
 
    <div id="container">
        <aside>
            <header>
                <input type="text" placeholder="search">
            </header>
            <ul>
                
                
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_03.jpg" alt="">
                    <div>
                        <h2>Beyonce</h2>
                        <h3>
                            <span class="status orange"></span>
                            offline
                        </h3>
                    </div>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_04.jpg" alt="">
                    <div>
                        <h2>Jay-Z</h2>
                        <h3>
                            <span class="status green"></span>
                            online
                        </h3>
                    </div>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_05.jpg" alt="">
                    <div>
                        <h2>Kimberly</h2>
                        <h3>
                            <span class="status orange"></span>
                            offline
                        </h3>
                    </div>
                </li>
              
                
            </ul>
        </aside>
        <main>
            <header>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                <div>
                    <h2>Chat with Beyonce</h2>
                    <h3>already 1902 messages</h3>
                </div>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
            </header>
            <ul id="chat">
                <li class="you">
                    <div class="entete">
                        <span class="status green"></span>
                        <h2>Beyonce</h2>
                        <h3>10:12AM, Today</h3>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        Hey sis
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>10:12AM, Today</h3>
                        <h2>Solange</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                       Hey sisss, how's the fam?
                    </div>
                </li>
             
            
               
            </ul>
            <footer>
                <textarea placeholder="Type your message"></textarea>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
                <a href="#">Send</a>
            </footer>
        </main>
    </div>
    
    <script src="../messages.js" ></script>
</body>
</html>