<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9f2d14ff15.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="search.css">
    <title>Search</title>
  </head>
  <body>
        <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-center">
            <div class="container">
                <h1 id="title-app">Sneaky Link</h1>
            <ul class="navbar-nav nav-justified w-100 text-center">
              <li class="nav-item">
                <a href="./landingPage.html" class="nav-link d-flex flex-column">
                  <i class="fa-solid fa-house"></i>
                  <span class="d-none d-sm-inline">Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./messages.html" class="nav-link d-flex flex-column">
                    <i class="fa-regular fa-message"></i>
                  <span class="d-none d-sm-inline">Messages</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./search.html" class="nav-link d-flex flex-column">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <span class="d-none d-sm-inline">Search</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link d-flex flex-column">
                    <i class="fa-regular fa-heart"></i>
                  <span class="d-none d-sm-inline">Likes</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./mePage.html" class="nav-link d-flex flex-column">
                    <i class="fa-solid fa-user"></i>
                  <span class="d-none d-sm-inline">Me</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="search-filter">
           <h4> Filter your search here</h4>
           <div class="filter-menu">
            <ul id='menu'>    
              <li class="filter-btn" ><a href='#'>Age</a>    
                <ul class="filter-dropdwn" >    
                    <li><a href='#'>20-29</a></li>    
                    <li><a href='#'>30-39</a></li>    
                    <li><a href='#'>40+</a></li>    
                </ul>    
              </li>    
              <li class="filter-btn"><a href='#'>Pronouns</a>    
                <ul class="filter-dropdwn">    
                    <li><a href='#'>She/Her</a></li>    
                    <li><a href='#'>He/Him</a></li>    
                    <li><a href='#'>They/Them</a></li>    
                </ul>    
              </li>    
              <li class="filter-btn"><a href='#'>Location</a>    
                <ul class="filter-dropdwn">    
                    <li ><a href='#'>NY</a></li>    
                    <li ><a href='#'>NJ</a></li>    
                    <li ><a href='#'>idk</a></li>    
                </ul>    
              </li>    
           </ul>   
           
        </div>
    </div>
        
        <div class="container mx-auto mt-4 card-container">

            <div class="row">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThnW4V0MXSboYB-KiVoKFSn4YpmwxeLBgPSPI33o6oC9myojv2Z9A71plCtre6Nm7yz30&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taylor</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            </div>
              </div>    
                 
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://cdn-www.thefashionspot.com/assets/uploads/gallery/celebrity-selfies-2017/solange-celebrity-selfies-2017.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solange</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://hips.hearstapps.com/ell.h-cdn.co/assets/17/26/capture-decran-2017-06-27-a-35615-pm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kimberly</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            </div>
              </div>  
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU0MTU0MTc3NzkzMTA3MzU1/beyonce-attends-tidal-x-1015-on-october-15-2016-in-new-york-city-photo-by-theo-wargogetty-images-for-tidal-sqaure.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Beyonce</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jay-z-attends-2020-roc-nation-the-brunch-on-january-25-2020-news-photo-1614025570." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jay-Z</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://i.dailymail.co.uk/1s/2022/01/22/08/53235485-10429739-image-a-22_1642841085331.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Karruche</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div>    
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://i.guim.co.uk/img/media/86b1978b9fbdefac2479146877dc9dc873bf520b/0_175_5481_3289/master/5481.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=f39bec217bb58bc82122b3bc6147f17c" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Michael B. Jordan</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div> 
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://a9p9n2x2.stackpathcdn.com/wp-content/blogs.dir/1/files/2021/03/Screen-Shot-2021-03-27-at-11.41.23-PM.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Michael Rainey Jr</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div> 
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://cdn.cliqueinc.com/posts/292101/taraji-p-henson-beauty-tips-292101-1616011187933-main.700x0c.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taraji P. Henson</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div>   
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://i.scdn.co/image/ab6761610000e5ebed3a04c76cbc92b97f59c3c0" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jack Harlow</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div> 
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://pyxis.nymag.com/v1/imgs/e89/329/d0628a3f36c8fe3988c3d6fe4c561e328c-willsmith.rsquare.w330.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Will Smith</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div> 
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
            <img src="https://assets.vogue.com/photos/624371b35ec45be406d0a5e1/master/w_2560%2Cc_limit/GettyImages-1239562777.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jada Pinkett Smith</h5>
                 <a href="#" class="btn mr-2"></i>Like</a>
              <a href="#" class="btn "></i>Message</a>
            </div>
            
            </div>
              </div> 
            </div>
          </div>
          <script src="../search.js"></script>
  </body>
</html>