<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="userProfile.css">
    <script src="userProfile.js"></script>
    <title>Profile</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-center">
        <div class="container">
            <h1 id="title-app">Sneaky Link</h1>
        <ul class="navbar-nav nav-justified w-100 text-center">
          <li class="nav-item">
            <a href="#" class="nav-link d-flex flex-column">
              <i class="fa-solid fa-house"></i>
              <span class="d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link d-flex flex-column">
                <i class="fa-regular fa-message"></i>
              <span class="d-none d-sm-inline">Messages</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link d-flex flex-column">
                <i class="fa-solid fa-magnifying-glass"></i>
              <span class="d-none d-sm-inline">Search</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link d-flex flex-column">
                <i class="fa-regular fa-heart"></i>
              <span class="d-none d-sm-inline">Likes</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link d-flex flex-column">
                <i class="fa-solid fa-user"></i>
              <span class="d-none d-sm-inline">Me</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <h5 id="name">Name</h5>
    <div>
        
        <p>Age</p>
        <p>Gender</p>
        <p>City</p>
        <p>State</p>
        <p>Bio</p>
        
    </div>
    <div id="interests">
      <form id="interestsTable">
          <input 
      </form>
    </div>

    <button id="delete">Delete Profile</button>
</body>
</html>