<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="userSignUp.css">
</head>
<body>
    <!-- <h1>Swipes Galore</h1>
    <h2>DATING FOR PEOPLE WHO DONT WASTE TIME</h2> -->

    <!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="./landingPage.html">
        <div class="user-details">
          <div class="input-box">
            <span class="details">State</span>
            <input type="text" placeholder="Enter your state" required>
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input type="text" placeholder="Enter your city" required>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="text" placeholder="Enter your age" required>
          </div>
    
       
        <div class="input-box">
            <span class="details">Bio</span>
            <textarea placeholder="Tell us about yourself" class="form-control" aria-label="With textarea"></textarea>
          </div>
          </div> 
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <input type="radio" name="gender" id="dot-4">

          <span class="gender-title">Pronouns</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">She/her</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">He/him</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">They/them</span>
            </label>
            <label for="dot-4">
                <span class="dot four"></span>
                <span class="gender">Rather not say</span>
             </label>
          </div>
        </div>

        
        
        <div  class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>

    



    
    <script src="../userLogin.js"></script>
</body>
</html>